@model Inventario1.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Detalles del Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_pedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_pedido }, new { @Class = "btn btn-success" }) |
    @Html.ActionLink("Regresar al listado", "Index", null, new { @Class = "btn btn-primary" })
</p>
